


<div aclass="full-height-page"
     *ngIf="vlc.initialising">

  <app-header>
  </app-header>

  <div aclass="full-height-page-content">
    <app-initialising></app-initialising>
  </div>


    <app-footer [showPlaybackControl]="false"></app-footer>

</div>


<div aclass="full-height-page"
     *ngIf="!vlc.initialising">


  <app-header [title]="vlc.status.title()">
  </app-header>

  <div aclass="full-height-page-content">


    <div cclass="playback-controls">


      <div cclass="progress-card">
        <mat-card>


          <div cclass="progress-card-content">

            <div cclass="progress-slider">
              <mat-slider min="0"
                          [max]="vlc.status.value.length"
                          [value]="vlc.status.value.time"
                          (input)="onProgressInput($event)"
              ></mat-slider>
            </div>

            <div cclass="minus-1-minute">
              <button mat-raised-button color="primary"
                      (click)="onSeekRelative(-60)"
              >
                - 1:00
              </button>
            </div>

            <div cclass="minus-10-minute">
              <button mat-raised-button color="primary"
                      (click)="onSeekRelative(-600)"
              >
                - 10:00
              </button>
            </div>

            <div cclass="plus-10-minute">
              <button mat-raised-button color="primary"
                      (click)="onSeekRelative(600)"
              >
                + 10:00
              </button>
            </div>

            <div cclass="plus-1-minute">
              <button mat-raised-button color="primary"
                      (click)="onSeekRelative(60)"
              >
                + 1:00
              </button>
            </div>
          </div>

        </mat-card>
      </div>

      <div cclass="volume-card">
        <mat-card>

          <div cclass="volume-card-content">


            <div cclass="volume-slider">
              <mat-slider min="0" max="100"
                          [value]="vlc.status.volumePercentage"
                          (input)="onVolumeInput($event)"
              ></mat-slider>
            </div>

            <div cclass="volume-minus-1">
              <button mat-raised-button color="primary"
                      (click)="onVolumeChange(-1)"
              >
                -1%
              </button>
            </div>

            <div cclass="volume-minus-10">
              <button mat-raised-button color="primary"
                      (click)="onVolumeChange(-10)"
              >
                -10%
              </button>

            </div>

            <div cclass="volume-mute">
              <button mat-raised-button color="primary"
                      (click)="onToggleMute()"
              >
                mute
              </button>

            </div>

            <div cclass="volume-plus-10">
              <button mat-raised-button color="primary"
                      (click)="onVolumeChange(10)"
              >
                +10%
              </button>

            </div>

            <div cclass="volume-plus-1">
              <button mat-raised-button color="primary"
                      (click)="onVolumeChange(1)"
              >
                +1%
              </button>

            </div>

          </div>

        </mat-card>
      </div>


      <div cclass="playback-card">
        <mat-card>
          <div cclass="playback-card-content">
            <div cclass="playlist-previous">
              <button mat-raised-button color="primary"
                class="button__"
                (click)="playbackControl.playlistPrevious()"
              >
                <mat-icon>skip_previous</mat-icon>
              </button>
            </div>

            <div cclass="fullscreen">
              <button mat-raised-button color="primary"
                class="button__"
                (click)="playbackControl.toggleFullScreen()"
              >
                <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
                <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
              </button>

            </div>

            <div cclass="playlist-next">
              <button mat-raised-button color="primary"
                class="button__"
                (click)="playbackControl.playlistNext()"
              >
                <mat-icon>skip_next</mat-icon>
              </button>

            </div>

            <div cclass="seek-back-10">
              <button mat-raised-button color="primary"
                      class="button__"
                      (click)="onSeekRelative(-10)"
              >
                <mat-icon>replay_10</mat-icon>
              </button>

            </div>

            <div cclass="play-pause">
              <button mat-raised-button color="primary"
                      class="button__"
                      (click)="playbackControl.playPause()"
              >
                <mat-icon *ngIf="isPaused||!isPlaying">play_arrow</mat-icon>
                <mat-icon *ngIf="isPlaying">pause</mat-icon>
                Play/Pause
              </button>

            </div>

            <div cclass="seek-forward-30">
              <button mat-raised-button color="primary"
                      class="button__ button__forward_30"
                      (click)="onSeekRelative(30)"
              >
                <mat-icon>forward_30</mat-icon>
              </button>
            </div>

          </div>


        </mat-card>
      </div>


    </div>

  </div>



  <app-footer [showPlaybackControl]="false"></app-footer>

</div>



