





div[cclass="playback-controls"] {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 3fr;
  grid-template-areas:
    "progress-card"
    "volume-card"
    "playback-card";

  height: 100%;

  align-items: center;

  div[cclass="progress-card"] {

    grid-area: progress-card;
    height: 100%;

    mat-card {
      background-color: ghostwhite;
      height: calc( 100% - 40px);
    }
  }

  div[cclass="volume-card"] {
    grid-area: volume-card;
    height: 100%;
    mat-card {
      background-color: ghostwhite;
      height: calc( 100% - 40px);
    }
  }

  div[cclass="playback-card"] {
    grid-area: playback-card;
    height: 100%;
    mat-card {
      background-color: ghostwhite;
      height: calc( 100% - 40px);
    }
  }

  mat-slider {
    width: 100%;
  }


}


div[cclass="progress-card-content"] {

  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "progress-slider progress-slider progress-slider progress-slider"
    "minus-1-minute minus-10-minute plus-10-minute plus-1-minute";

  button {
    height: calc( 100% - 16px);
    width: calc( 100% - 16px);;
  }

  div[cclass="progress-slider"] {
    grid-area: progress-slider;
  }

  div[cclass="minus-1-minute"] {
    grid-area: minus-1-minute;
  }


  div[cclass="minus-10-minute"] {
    grid-area: minus-10-minute;
  }


  div[cclass="plus-10-minute"] {
    grid-area: plus-10-minute;
  }

  div[cclass="plus-1-minute"] {
    grid-area: plus-1-minute;
  }

}


div[cclass="volume-card-content"] {

  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "volume-slider volume-slider volume-slider volume-slider volume-slider"
    "volume-minus-1 volume-minus-10 volume-mute volume-plus-10 volume-plus-1";


  button {
    height: calc( 100% - 16px);
    width: calc( 100% - 16px);;
  }


  div[cclass="volume-slider"] {
    grid-area: volume-slider;
  }

  div[cclass="volume-minus-1"] {
    grid-area: volume-minus-1;
  }


  div[cclass="volume-minus-10"] {
    grid-area: volume-minus-10;
  }


  div[cclass="volume-mute"] {
    grid-area: volume-mute;
  }

  div[cclass="volume-plus-10"] {
    grid-area: volume-plus-10;
  }

  div[cclass="volume-plus-1"] {
    grid-area: volume-plus-1;
  }

}



div[cclass="playback-card-content"] {

  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "playlist-previous playlist-previous fullscreen playlist-next playlist-next"
    "seek-back-10 play-pause play-pause play-pause seek-forward-30";


  button {
    height: calc( 100% - 16px);
    width: calc( 100% - 16px);;
  }
  div[cclass="playlist-previous"] {
    grid-area: playlist-previous;
  }

  div[cclass="fullscreen"] {
    grid-area: fullscreen;
  }

  div[cclass="playlist-next"] {
    grid-area: playlist-next;
  }

  div[cclass="seek-back-10"] {
    grid-area: seek-back-10;
  }

  div[cclass="play-pause"] {
    grid-area: play-pause;
  }

  div[cclass="seek-forward-30"] {
    grid-area: seek-forward-30;
  }

}


//mat-grid-tile.mat-grid-tile__forward_30 {
//
//  width: 100%;
//  background-color: red;
//
//  figure {
//    background-color: green;
//    width: 100%;
//
//    button.button__ {
//      background-color: blue;
//      width: 100%;
//    }
//  }
//}

//button.button__ {
//
//  width: 100%;
//}


mat-grid-tile.mat-grid-tile__ {
  figure {
    padding: 8px;

  }
}

