<div aclass="full-height-page">


  <app-header title="Artists"></app-header>


  <div aclass="full-height-page-content">

    <app-initialising *ngIf="audioLibrary.initialising"></app-initialising>


    <mat-action-list *ngIf="!audioLibrary.initialising">

      <button mat-list-item
              *ngFor="let artist of audioLibrary.audioLibrary.artists.value"
              (click)="onArtistClick( artist )"
      >
        <div mat-line>
          {{artist.value}}
        </div>
      </button>

    </mat-action-list>
  </div>

  <app-footer>
  </app-footer>


</div>

