


<div aclass="full-height-page">


  <app-header title="Genres"
              svgIcon="music-box-multiple"
  >

  </app-header>


  <div aclass="full-height-page-content">

    <app-initialising *ngIf="audioLibrary.initialising"></app-initialising>


    <mat-action-list *ngIf="!audioLibrary.initialising">

      <button mat-list-item
              *ngFor="let genre of audioLibrary.audioLibrary.genres.value"
              (click)="onGenreClick( genre )"
      >

        <mat-icon svgIcon="music-box-multiple"></mat-icon>
        <span>
            &nbsp;
          {{genre.value}}
          </span>

<!--        <div mat-line>-->
<!--          {{genre.value}}-->
<!--        </div>-->
      </button>

    </mat-action-list>
  </div>

  <app-footer>
  </app-footer>


</div>

