<div aclass="full-height-page">

  <app-header [title]="title">
  </app-header>

  <div aclass="full-height-page-content">

    <app-initialising *ngIf="!audioTracks"></app-initialising>


    <div *ngIf="audioTracks">

      <mat-action-list >


        <button mat-list-item
                *ngFor="let audioTrack of audioTracks"
                (click)="onAudioTrackClick( audioTrack )"
        >

          <mat-icon svgIcon="music"></mat-icon>
          <span>
            &nbsp;
            {{audioTrack.title}}
          </span>


<!--          <div mat-line>-->
<!--            {{audioTrack.title}}-->
<!--          </div>-->
        </button>

      </mat-action-list>
    </div>

  </div>

  <app-footer>
  </app-footer>
</div>


