





<div aclass="full-height-page">

  <app-header
    [svgIcon]="headerSvgIcon"
    [title]="title">
  </app-header>

  <div aclass="full-height-page-content">


    <app-initialising *ngIf="audioLibrary.initialising"></app-initialising>

    <mat-action-list *ngIf="!audioLibrary.initialising">

      <button mat-list-item>
        Tracks
      </button>

      <button mat-list-item
              *ngFor="let album of albums"
              (click)="onAlbumClick( album )"
      >

        <mat-icon svgIcon="album"></mat-icon>
        <span>
            &nbsp;
          {{album.value}}
          </span>

<!--        <div mat-line>-->
<!--        </div>-->

      </button>

    </mat-action-list>

  </div>

  <app-footer>
  </app-footer>

</div>
