<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <mat-list *ngIf="fileNodes" >
    <mat-list-item
      *ngFor="let fileNode of fileNodes"
      (click)="nodeSelected(fileNode)">
      <mat-icon *ngIf="fileNode.isDirectory" matListIcon>folder</mat-icon>
      <mat-icon *ngIf="!fileNode.isDirectory" matListIcon>insert_drive_file</mat-icon>
      {{ fileNode.value.name }}

      <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
  </mat-list>

  <div *ngIf="!fileNodes">
    Loading ...
  </div>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <!--<ion-title>Help</ion-title>-->
  </ion-toolbar>
</ion-footer>

