

<mat-list>
  <mat-list-item *ngFor="let file of files">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>{{file.value.name}}</div>
    <!--<div mat-line> {{note.updated | date}} </div>-->
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Favorites</div>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>{{note.name}}</div>
    <div mat-line> {{note.updated | date}} </div>
  </mat-list-item>
</mat-list>



