
Files count: {{stats.filesFound}}
<br>
Audio files count: {{stats.audioFilesFound}}
<br>
Folders scanned: {{stats.foldersFound}}
<br>


<button mat-button
        (click)="onGetAudioFiles()"
        [disabled]="audioFiles"
>
  Get Audio Files
</button>

<br>

<button mat-button
        (click)="onSetupLibrary()"
        [disabled]="!audioFiles"
>
  Setup library
</button>


<hr>


<button mat-button
        (click)="onLoadLibrary()"
        >
  Load library
</button>


<hr>

<mat-action-list>


  <div mat-subheader>Genres</div>

  <mat-list-item
    *ngFor="let genre of audioLibrary.audioLibrary.genres.values">
    <div mat-line>{{genre.value}}</div>
  </mat-list-item>
</mat-action-list>
