


div[cclass="playback-controls"] {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 3fr;
  grid-template-areas:
    "progress-card"
    "volume-card"
    "playback-card";


  //background-color: ghostwhite;
  //border-width: 1px;
  //border-style: solid;
  cursor: pointer;

  height: 100%;

  align-items: center;

  div[cclass="progress-card"] {

    grid-area: progress-card;

    mat-card {
      background-color: ghostwhite;
    }
  }

  div[cclass="volume-card"] {
    grid-area: volume-card;
    mat-card {
      background-color: ghostwhite;
    }
  }

  div[cclass="playback-card"] {
    grid-area: playback-card;
    mat-card {
      background-color: ghostwhite;
    }
  }

  mat-slider {
    width: 100%;
  }

  button{
    width: 100%;
  }

}

div[cclass="playback-card-content"] {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "playlist-previous playlist-previous fullscreen playlist-next playlist-next"
    "seek-back-10 play-pause play-pause play-pause seek-forward-30";

  div[cclass="playlist-previous"] {
    grid-area: playlist-previous;
  }

  div[cclass="fullscreen"] {
    grid-area: fullscreen;
  }

  div[cclass="playlist-next"] {
    grid-area: playlist-next;
  }

  div[cclass="seek-back-10"] {
    grid-area: seek-back-10;
  }

  div[cclass="play-pause"] {
    grid-area: play-pause;
  }

  div[cclass="seek-forward-30"] {
    grid-area: seek-forward-30;
  }

}


mat-grid-tile.mat-grid-tile__forward_30 {

  width: 100%;
  background-color: red;

  figure {
    background-color: green;
    width: 100%;

    button.button__ {
      background-color: blue;
      width: 100%;
    }
  }
}

button.button__ {

  width: 100%;
}


mat-grid-tile.mat-grid-tile__ {
  figure {
    padding: 8px;

  }
}

