

<div cclass="playback-controls">


  <div cclass="progress-card">
    <mat-card>

      <mat-grid-list cols="4" [gutterSize]="8" [rowHeight]="60">

        <mat-grid-tile colspan="4" >
          <mat-slider min="0"
                      [max]="status.value.length"
                      [value]="status.value.time"
                      (input)="onProgressInput($event)"
          ></mat-slider>
        </mat-grid-tile>


        <mat-grid-tile colspan="1" >
          <button
            mat-raised-button
            (click)="onSeekRelative(-600)"
          >
            - 10:00
          </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" >
          <button
            mat-raised-button
            (click)="onSeekRelative(-60)"
          >
            - 1:00
          </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" >
          <button
            mat-raised-button
            (click)="onSeekRelative(60)"
          >
            + 1:00
          </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" >
          <button
            mat-raised-button
            (click)="onSeekRelative(600)"
          >
            + 10:00
          </button>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card>
  </div>

  <div cclass="volume-card">
    <mat-card>


        <mat-grid-list cols="10" [gutterSize]="8" [rowHeight]="60">


          <mat-grid-tile colspan="10" >

            <mat-slider min="0" max="100"
                        [value]="status.volumePercentage"
                        (input)="onVolumeInput($event)"
            ></mat-slider>

          </mat-grid-tile>


          <mat-grid-tile colspan="2" >
            <button
              mat-raised-button
              (click)="onVolumeChange(-1)"
            >
              -1%
            </button>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" >
            <button
              mat-raised-button
              (click)="onVolumeChange(-10)"
            >
              -10%
            </button>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" >
            <button
              mat-raised-button
              (click)="onToggleMute()"
            >
              mute
            </button>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" >
            <button
              mat-raised-button
              (click)="onVolumeChange(10)"
            >
              +10%
            </button>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" >
            <button
              mat-raised-button
              (click)="onVolumeChange(1)"
            >
              +1%
            </button>
          </mat-grid-tile>


        </mat-grid-list>
    </mat-card>
  </div>


  <div cclass="playback-card">
    <mat-card>
      <div cclass="playback-card-content">
        <div cclass="playlist-previous">
          <button
            mat-raised-button
            class="button__"
            (click)="playbackControl.playlistPrevious()"
          >
            <mat-icon>skip_previous</mat-icon>
          </button>
        </div>

        <div cclass="fullscreen">
          <button

            mat-raised-button
            class="button__"
            (click)="playbackControl.toggleFullScreen()"
          >
            <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
            <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
          </button>

        </div>

        <div cclass="playlist-next">
          <button

            mat-raised-button
            class="button__"
            (click)="playbackControl.playlistNext()"
          >
            <mat-icon>skip_next</mat-icon>
          </button>

        </div>

        <div cclass="seek-back-10">
          <button mat-raised-button
                  class="button__"
                  (click)="onSeekRelative(-10)"
          >
            <mat-icon>replay_10</mat-icon>
          </button>

        </div>

        <div cclass="play-pause">
          <button mat-raised-button
                  class="button__"
                  (click)="playbackControl.playPause()"
          >
            <mat-icon *ngIf="isPaused||!isPlaying">play_arrow</mat-icon>
            <mat-icon *ngIf="isPlaying">pause</mat-icon>
            Play/Pause
          </button>

        </div>

        <div cclass="seek-forward-30">
          <button mat-raised-button
                  class="button__ button__forward_30"
                  (click)="onSeekRelative(30)"
          >
            <mat-icon>forward_30</mat-icon>
          </button>
        </div>

      </div>


    </mat-card>
  </div>


</div>

