


<div cclass="full-height">

  <mat-toolbar cclass="header">
    <span>Header</span>
  </mat-toolbar>


  <div cclass="main">
    <mat-action-list >

      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>
      <button mat-list-item>
        <div mat-line>
          mat-list-item
        </div>
      </button>

    </mat-action-list>
  </div>

  <mat-toolbar cclass="footer">
    <span>Footer</span>
  </mat-toolbar>


</div>
