<p>playback-control works!</p>




<mat-grid-list cols="12" [gutterSize]="8">


  <mat-grid-tile colspan="4">
    <button
      mat-raised-button
      class="button__"
      (click)="playbackControl.playlistPrevious()"
    >
      <mat-icon>skip_previous</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    <button

      mat-raised-button
      class="button__"
      (click)="playbackControl.toggleFullScreen()"
    >
      <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
      <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    <button

      mat-raised-button
      class="button__"
      (click)="playbackControl.playlistNext()"
    >
      <mat-icon>skip_next</mat-icon>
    </button>
  </mat-grid-tile>



  <mat-grid-tile colspan="2">
    <button mat-raised-button
            class="button__"
            [disabled]="!status||!isPlaying"
    >
      <mat-icon>replay_10</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="8">
    <button mat-raised-button
            class="button__"
            (click)="playbackControl.playPause()"
            [disabled]="!status"
    >
      <mat-icon *ngIf="isPaused||!isPlaying">play_arrow</mat-icon>
      <mat-icon *ngIf="isPlaying">pause</mat-icon>
      Play/Pause
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" class="mat-grid-tile__">
    <button mat-raised-button
            class="button__ button__forward_30"
            [disabled]="!status||!isPlaying"
    >
      <mat-icon>forward_30</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>




isPaused: {{isPaused}}
<br>
isPlaying: {{isPlaying}}


