



mat-grid-tile.mat-grid-tile__forward_30 {

  width: 100%;
  background-color: red;

  figure {
    background-color: green;
    width: 100%;

    button.button__ {
      background-color: blue;
      width: 100%;
    }
  }
}

button.button__ {

  width: 100%;
}


mat-grid-tile.mat-grid-tile__ {
  margin: 4px;
}

