/* You can add global styles to this file, and also import other style files */


// vvv taken from `app.component.html` from the initial generated sample site
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// ^^^ taken from `app.component.html` from the initial generated sample site

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



button.button__ {

}


div.div__page_content {

}


h1.h1__ {

}

h2.h2__ {

}

h3.h3__ {

}

h4.h4__ {

}

p.p__ {

}
