<!--
  Generated template for the PlaylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>playlist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <mat-list *ngIf="playlist.value" [disableRipple]="false">
    <mat-list-item
      [disableRipple]="false"
      *ngFor="let child of playlist.value.root.children"
      (click)="nodeSelected(child)">
      {{ child.value.name }}
      <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
  </mat-list>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <!--<ion-title>Help</ion-title>-->
  </ion-toolbar>
</ion-footer>
