<!--
  Generated template for the PlaylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>playlist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  Playlist

  <ion-list *ngIf="playlist.value">
    <button ion-item *ngFor="let child of playlist.value.root.children" (click)="nodeSelected(child)">
      {{ child.value.name }}
    </button>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!--<ion-title>Help</ion-title>-->
  </ion-toolbar>
</ion-footer>
