

<mat-action-list>
  <button mat-list-item (click)="onTestConnect()"> Test connection </button>
  <button mat-list-item (click)="onPlaybackControl()"> Playback Control </button>
  <button mat-list-item (click)="onFiles()"> Files </button>
  <button mat-list-item (click)="onPlaylist()"> Playlist </button>
</mat-action-list>



<!--<form class="form__"-->
<!--      [formGroup]="formGroup"-->
<!--      (ngSubmit)="onTestConnect()"-->
<!--&gt;-->



<!--  <button mat-raised-button-->
<!--          type="submit">-->
<!--    Test connection-->
<!--  </button>-->

<!--</form>-->

